# ARCHIVOS DE TEXTO Y SENALES CRUDAS
Test*/Data/Baiobit*
Test*/Data/FREEEMG_EMG_no_timestamp.csv
Test*/Data/FREEEMG_Processed_Signals.csv
Test*/Data/processed_labeled.csv

# ENTORNO DE METRICAS
Test*/Active_Channels/detection_metrics.csv

# EPOCAS RE CORTADAS POR EMOCION
Test*/Sonrisa/*.csv
Test*/Disgusto/*.csv
Test*/Sorprendido/*.csv
Test*/Triste/*.csv

# DATASET DE ENTRENAMIENTO
Dataset/features_dataset.csv