Test1/Data/Baiobit*
Test1/Data/FREEEMG_EMG_no_timestamp.csv
Test1/Data/FREEEMG_Processed_Signals.csv
Test1/Disgusto/*.csv
Test1/Sonrisa/*.csv
Test1/Sorprendido/*.csv
Test1/Triste/*.csvTest1/Sonrisa/*.csv


Test2/Data/Baiobit*
Test2/Data/FREEEMG_EMG_no_timestamp.csv
Test2/Data/FREEEMG_Processed_Signals.csv
Test2/Disgusto/*.csv
Test2/Sonrisa/*.csv
Test2/Sorprendido/*.csv
Test2/Triste/*.csvTest1/Sonrisa/*.csv